*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display:flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Georgia;
    font-size: 1.1rem;
    font-weight: bold;  
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
/*Adding a hover animation for the Navigation bar */

.navbar ul li a:hover {
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home page, Avatar picture */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content:center;
    align-items: center;
    color: whitesmoke;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(IMG_3953.jpg) no-repeat center center/cover;
    background-size: contain;
    height:900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
/* Main header with my name */
.main{
    display:flex;
    flex-direction: column;
    border: 3px solid whitesmoke;
    align-items: center;
    position:absolute;
    bottom: 50%;
}
/* all the headings follow the same font family */
.headers{
    font-family: Georgia;
    font-size: 3rem;
    text-align: center;
    margin: 15px 0px;
}

/* Button sizing and animation when you hover over on top of it */
.button{
    padding: 10px 35px;
    border: 2px solid whitesmoke;
    background-color: transparent;
    outline: none;
    color: whitesmoke;
    transition: .8s ease-in-out;

}

.button:hover{
    background-color: whitesmoke;
    cursor: pointer;
    color: gray;
    box-shadow: 0 0 8px whitesmoke, 0 0 12px whitesmoke, 0 0 17px whitesmoke;
    font-weight: bold;
}
/* Section for my About me */
#aboutme{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom:40px;
    padding: 25px;
}
/* Picture of me */
#picture{
    display: flex;
}

#picture img{
    width: 500px;
    height: 400px;
}

/* text for the about me part of the page */
#introtext{
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: justify;
    font-family: Georgia;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#introtext h2{
    margin-bottom: 25px;
    font-size: 1.9rem;
    font-family: Georgia;
}

/* Pictures of the coming soon in the portfolio section */
#portfoliosec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
}

.portpics{
    display:flex;
    flex-wrap: wrap;
    box-sizing:border-box;
    justify-content: space-around;
}

.portpics img {
    width:460px;
    height: 350px;
    margin: 10px;
}
/* Contact me section at the bottom of the page */
#contactme{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    padding: 25px;
    
}

.form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 25px, 0px;
    align-items: center;
}

.input {
    margin: 15px;
    padding: 13px;
    width: 35%;
    outline: none;
    border: none;
}

#msg{
    width: 25%;
    margin:15px;
    padding: 12px;
    border:none;
    outline: none;
}

#send{
    padding:10px;
    margin:25px;
    width:10%;
    border: none;
    outline: none;
}
/* animation to make it have a shadow when you hover over the SEND icon */
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 12px whitesmoke;
}